<ul class="social-media-list">
  {%- if site.linkedin_username -%}
    <li class="social-media-list__item">
      <a class="social-media-list__link" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
        {%- include icons/linkedin-in.svg -%}
        <span class="username screen-reader-text">{{ site.linkedin_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.github_username -%}
    <li class="social-media-list__item">
      <a class="social-media-list__link" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
        {%- include icons/github.svg -%}
        <span class="username screen-reader-text">{{ site.github_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if site.stackoverflow_username -%}
    <li class="social-media-list__item">
      <a class="social-media-list__link" href="https://stackexchange.com/users/18103328{{ site.stackoverflow_username| cgi_escape | escape }}">
        {%- include icons/stack-overflow.svg -%}
        <span class="username screen-reader-text">{{ site.stackoverflow_username| escape }}</span>
      </a>
    </li>
  {%- endif -%}

  <li class="social-media-list__item">
    <a class="social-media-list__link" href="{{ 'feed.xml' | relative_url }}">
      {%- include icons/rss.svg -%}
      <span>{{ site.rss | escape }}</span>
    </a>
  </li>
</ul>