@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-zinc-600 dark:bg-zinc-900 dark:text-zinc-400;
    --pagefind-ui-font: theme(fontFamily.sans);
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0;
    --pagefind-ui-primary: theme(colors.indigo.600);
    --pagefind-ui-text: theme(colors.zinc.600);
  }

  .dark body {
    --pagefind-ui-primary: theme(colors.indigo.600);
    --pagefind-ui-text: theme(colors.zinc.400);
    --pagefind-ui-background: theme(colors.zinc.700);
    --pagefind-ui-border: theme(colors.zinc.600);
    --pagefind-ui-tag: theme(colors.zinc.900);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply relative font-semibold text-zinc-800 dark:text-zinc-100;
  }

  a {
    @apply transition-colors hover:text-indigo-600 focus:text-indigo-600 hover:dark:text-indigo-600 focus:dark:text-indigo-600;
  }

  mark {
    @apply bg-indigo-600 text-white;
  }

  body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  body::-webkit-scrollbar-track {
    @apply bg-zinc-200;
  }

  body::-webkit-scrollbar-thumb {
    @apply rounded-full bg-zinc-500;
  }

  @supports (scrollbar-color: red blue) {
    body {
      scrollbar-color: theme(colors.zinc.400) theme(colors.zinc.200);
      scrollbar-width: thin;
    }
  }
}

@layer components {
  .badge {
    @apply relative z-20 block border border-zinc-300 p-1.5 font-mono text-sm uppercase text-zinc-600 hover:border-indigo-600 dark:border-zinc-700/40 dark:text-zinc-400  hover:dark:border-indigo-600 hover:dark:text-indigo-600 sm:p-1 sm:text-xs;
  }

  .active {
    @apply text-indigo-600;
  }
}

.modal .pagefind-ui__result-tag {
  @apply border border-zinc-200 p-1 py-0.5 font-mono uppercase hover:border-indigo-600 dark:border-zinc-700/40 hover:dark:border-indigo-600 hover:dark:text-indigo-600;
}

.modal .pagefind-ui__results-area > .pagefind-ui__message {
  @apply font-mono uppercase;
}
