---
// layout
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <section class="text-center mt-4 sm:mt-10">
    <h1
      class="text-7xl sm:text-9xl text-indigo-600 dark:text-indigo-600 mb-4 sm:mb-8"
    >
      404
    </h1>
    <p
      class="text-xl sm:text-3xl font-bold text-zinc-800 dark:text-zinc-100 mb-3"
    >
      Something's missing.
    </p>
    <p class="mb-10">
      Sorry, we can't find that page. You'll find lots to explore on the home
      page.
    </p>
    <a
      href="/"
      class="border border-indigo-600 text-white rounded-lg bg-indigo-600 py-3 px-6 inline-block hover:bg-indigo-800 dark:hover:text-white hover:text-white"
      >Back to Homepage</a
    >
  </section>
</MainLayout>
