---
// component imports
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout
  title="About"
  activeNav="about"
  description="Learn more about Danilo Parra Jr."
>
  <section aria-label="About">
    <h1 class="text-3xl sm:text-4xl mb-5">About</h1>

    <div class="prose dark:prose-invert">
      <p>
        Danilo Parra Jr is a Freelance Web Developer with more than six years of
        experience in custom site development. Specializing in WordPress plugin
        and theme development.
      </p>

      <p>
        Dedicated to the web, Danilo is passionate about creating beautiful and
        efficient websites that create engaging online experiences.
      </p>

      <p>
        Danilo has personally found great benefit in implementing wellness
        measures in his own life, including daily exercise, biking, and hiking.
      </p>

      <p>
        Fore more information about Danilo, reach out to <strong
          >hello at daniloparrajr dot com</strong
        >
      </p>

      <hr />

      <h2>About the site</h2>

      <p>
        This site will be an archive of my journey as a web developer, I'll be
        aiming to publish a post every two weeks.
      </p>

      <p>In case you're wondering this site is:</p>

      <ul>
        <li>
          Built on <a href="https://astro.build/" target="_blank" rel="nofollow"
            >Astro</a
          > - an all-in-one web framework for building fast, content-focused
          websites.
        </li>
        <li>
          Styled using <a
            href="https://tailwindcss.com/"
            target="_blank"
            rel="nofollow">TailwindCSS</a
          > - rapidly build modern websites without ever leaving your HTML
        </li>
        <li>
          Search using <a
            href="https://pagefind.app/"
            rel="nofollow"
            target="_blank">Pagefind</a
          > - a fully static search library.
        </li>
        <li>
          Hosted on <a
            href="https://pages.github.com/"
            rel="nofollow"
            target="_blank">Github pages</a
          > - websites for you and your projects.
        </li>
      </ul>
    </div>
  </section>
</MainLayout>
