---
import { getCollection } from "astro:content";

// component imports
import MainLayout from "@layouts/MainLayout.astro";
import PostList from "@components/PostList.astro";
import SocialMenu from "@components/SocialMenu.astro";
import Avatar from "@components/Avatar.astro";

// utils imports
import { filterPosts } from "@utils/posts";

const allPosts = await getCollection("blog");
const recentPosts = filterPosts(allPosts, {
  limit: 4,
});
---

<MainLayout name="index">
  <section aria-label="New Blog Posts">
    <div class="js-animate-content">
      <Avatar />

      <h1 class="text-3xl leading-normal sm:leading-normal sm:text-4xl mb-5">
        Web developer, forever learning, and a fitness enthusiast.
      </h1>

      <p class="mb-6">
        Hi, I'm Danilo! Welcome to my personal space in the internet, where I
        write my learning and thoughts about all things web development.
      </p>

      <SocialMenu classes="mb-16 sm:mb-20" />
    </div>
    <PostList
      title="Recent Articles"
      classes="js-animate-content"
      posts={recentPosts}
    />
  </section>
</MainLayout>
