$themeColor: $color__primary;

@import "../../../node_modules/swiper/swiper";
@import "../../../node_modules/swiper/components/navigation/navigation";
@import "../../../node_modules/swiper/components/pagination/pagination";
@import "../../../node_modules/swiper/components/lazy/lazy";

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: initial;
    cursor: grab;
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: -15px;
}