---
const { pageUrl, pageIdentifier } = Astro.props;
---

<div
  id="disqus_thread"
  class="mt-20"
  data-page-url={pageUrl}
  data-page-identifier={pageIdentifier}
>
</div>
<script is:inline>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
   **/
  var disqus_config = function () {
    const disqusThread = document.querySelector("#disqus_thread");
    this.page.url = disqusThread.dataset.pageUrl;
    this.page.identifier = disqusThread.dataset.pageIdentifier;
  };

  // Disqus theme switching
  document.addEventListener("themeChanged", function (e) {
    if (document.readyState == "complete") {
      DISQUS.reset({
        reload: true,
        config: disqus_config,
      });
    }
  });

  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement("script");
    s.src = "https://daniloparrajr.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript
  >Please enable JavaScript to view the <a
    href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a
  ></noscript
>
