---
import { MENU_LINKS } from "@config";
import Link from "./Link.astro";

const { activeNav, classes = "", ...rest } = Astro.props;
---

<nav {...rest} class={`flex items-center gap-3 sm:gap-5 ${classes}`}>
  {
    MENU_LINKS.map(({ slug, name, ...rest }) => (
      <Link
        text={name}
        classes={`font-medium ${activeNav === slug ? "active" : ""}`}
        href={`/${slug}`}
        {...rest}
      />
    ))
  }
</nav>
