---
import { MENU_LINKS } from "@config";
import Link from "./Link.astro";

interface Props {
  activeNav: string;
  classes?: string;
}

const { activeNav, classes = "", ...rest } = Astro.props as Props;
---

<nav {...rest} class={`site-nav flex items-center gap-3 sm:gap-5 ${classes}`}>
  {
    MENU_LINKS.map(({ slug, name, ...rest }) => (
      <Link
        text={name}
        classes={`font-medium ${activeNav === slug ? "active" : ""}`}
        href={`/${slug}`}
        {...rest}
      />
    ))
  }
</nav>
