---
// Components imports
import PostItem from "./PostItem.astro";

const { posts, classes } = Astro.props;
const defaultClasses =
  "[&>*:first-child]:border-t [&>*:first-child]:border-zinc-200 [&>*:first-child]:dark:border-zinc-700/40";
---

<div class:list={[defaultClasses, classes]}>
  {
    posts.map((post) => (
      <PostItem
        data={post.data}
        content={post.body}
        url={`/${post.slug}`}
        tagType="h3"
        class=""
      />
    ))
  }
</div>
