---
// Components imports
import PostItem from "./PostItem.astro";

const { posts, classes, title } = Astro.props;
const defaultClasses =
  "[&>article:first-of-type]:border-t [&>article:first-of-type]:border-zinc-200 [&>article:first-of-type]:dark:border-zinc-700/40";
---

<section class:list={[defaultClasses, classes]}>
  {title ? <h2 class="mb-5 sm:mb-8 text-2xl">{title}</h2> : ""}

  {
    posts.map((post) => (
      <PostItem
        data={post.data}
        content={post.body}
        url={`/${post.slug}`}
        tagType="h3"
        class=""
      />
    ))
  }
</section>
