---
// util imports
import { formatDate, calcReadingTime } from "../js/utils";

const { date, content, classes } = Astro.props;
---

<ul class:list={[`flex gap-2 font-mono`, classes]}>
  <li data-pagefind-meta="date" class="after:content-['_•']">
    {formatDate(date)}
  </li>
  <li>{calcReadingTime(content)} min read</li>
</ul>
