---
// util imports
import { formatDate, calcReadingTime } from "@utils/posts";

interface Props {
  date: string;
  content: string;
  classes?: string;
}

const { date, content, classes } = Astro.props as Props;
---

<ul class:list={[`flex gap-2 font-mono`, classes]}>
  <li data-pagefind-meta="date" class="after:content-['_•']">
    {formatDate(date)}
  </li>
  <li>{calcReadingTime(content)} min read</li>
</ul>
