---
import { getCollection, CollectionEntry } from "astro:content";
import { filterPosts, slugify } from "@utils/posts";

import Tag from "./Tag.astro";

const { classes = "" } = Astro.props;

const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = filterPosts(allPosts);
const allTags = formattedPosts.map((tag) => tag.data.tags).flat();

const processedTags = allTags.reduce((acc, tag) => {
  // check if the tag exists in the acc
  const value = acc[tag] || 0;

  return {
    ...acc,
    [tag]: value + 1,
  };
}, {});

const defaultClasses = "flex flex-wrap gap-3";
---

<ul class:list={[defaultClasses, classes]}>
  {
    Object.entries(processedTags).map(([key, val]) => (
      <li>
        <Tag slug={slugify(key)} name={`${key}(${val})`} />
      </li>
    ))
  }
</ul>
