---
// component imports
import Tag from "./Tag.astro";

// util imports
import { slugify } from "@utils/posts";

const { tags, classes } = Astro.props;
---

<ul class:list={["flex gap-3 leading-none", classes]}>
  {
    tags.map((tag: string) => (
      <li>
        <Tag slug={slugify(tag)} name={tag} />
      </li>
    ))
  }
</ul>
